.main {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.main p {
    font-size: calc(1.2rem + 0.5vh);
}

.user-info {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.buttons-pair {
    padding-top: 2rem;
    padding-bottom: 2rem;

    text-align: center;
}

.recaptcha {
    margin-bottom: 1rem;
}